# Ignore build folder
build/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.swp